.site-header {
	margin-left: auto;
	margin-right: auto;
	@include media(mobile) {
		// max-width: var(--responsive--alignfull-width);
		width: 100%;
	}
	// @media screen and (min-width: 37.5em) {
	// 	max-width: unset;
	// 	margin-left: inherit;
	// 	margin-right: inherit;
	// }
	@media (max-width: 599px) {
		// display: grid;
		// grid-template-columns: 95% auto;
		// width: 100%;
	}
	@media (max-width: 481px) {
		display: grid;
		grid-template-columns: 90% auto;
		width: 100%;
	}
	&.travel-one--header-has-custom-logo,
	&.travel-one--header-has-site-title,
	&.travel-one--header-has-site-tagline {
		.site-branding {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	&.travel-one--header-has-custom-logo {
		.custom-logo-link {
			margin-bottom: 10px;
		}
		&:not(.travel-one--header-has-site-title) {
			.custom-logo-link {
				margin-bottom: 0;
			}
		}
	}

	.site-description,
	.site-title {
		display: none;
	}
	&.travel-one--header-has-site-title {
		.site-title {
			display: block;
			padding: 0 0 10px 0;
		}
		&:not(.travel-one--header-has-site-tagline) {
			&:not(.travel-one--header-has-custom-logo) {
				.site-title {
					padding: 0;
				}
			}
			// .site-description {
			// 	display: none;
			// }
		}
	}
	&.travel-one--header-has-site-tagline{
		.site-description {
			display: block;
		}
	}
	.site-branding {
		@media screen and (min-width: 40em) {
			max-width: var(--responsive--aligndefault-width);
			margin-left: auto;
			margin-right: auto;
		}
		.site-title {
			font-size: 45px;
			line-height: 1;
			margin: 0;
			// padding: 80px 0px;
			padding: 15px 0 10px;
			// padding-left: 20px;
			text-align: center;
			font-weight: bold;
			font-family: var( --site-brand-font-family );
			// "Praise", cursive;
		}
		.site-description {
			margin: 0;
			color: var(--wp--preset--color--grey);
		}
	}

	.site-title {
		a {
			text-decoration: none;
		}
	}
}
